# PostgreSQL
POSTGRES_USER=GigAdmin
POSTGRES_PASSWORD=Insert_Your_Password
POSTGRES_DB=PicKing
POSTGRES_PORT=8003

# MinIO
MINIO_ROOT_USER=MiniAdmin
MINIO_ROOT_PASSWORD=Insert_Your_Password
MINIO_BUCKET=pins
MINIO_API_PORT=8001
MINIO_CONSOLE_PORT=8002

# Приложение
APP_PORT=8000
APP_ENV=production
LOG_LEVEL=info

# Подключения
# ВАЖНО: ЗАМЕНИ ПАРОЛЬ К ДБ В ССЫЛКЕ!     ВОТ ТУТ
DATABASE_URL=postgres://GigAdmin:Insert_Your_Password@postgres:5432/PicKing?sslmode=disable
S3_ENDPOINT=minio:9000
S3_ACCESS_KEY=MiniAdmin
S3_SECRET_KEY=Insert_Your_Password
S3_BUCKET=pins
S3_USE_SSL=false
